.h1 {
    position: sticky;
    font-weight: bold;
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    display: contents;
}

h3 {
    background-color: #4472C4;
    color: #ffff;
}