
<!-- Fade Footer -->
<ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
<!--
<mat-toolbar color="primary">
    <span>
        <a *ngIf="urlCompany" [href]="urlCompany" target="_blank">
            {{companyName}}
        </a>
        <span *ngIf="!urlCompany">{{companyName}}</span>
    </span>
    &nbsp;
    <span>
        <a *ngIf="urlFace" [href]="urlFace" target="_blank" style="vertical-align: text-top;">
            <mat-icon>facebook</mat-icon>
        </a>
    </span>
    <div class="espacio"></div>
    <span *ngIf="urlDeveloper">
        <a [href]="urlDeveloper" target="_blank" style="vertical-align: text-top;">
            by Alfonso-13
        </a>        
    </span>
</mat-toolbar>
-->