    <ion-menu contentId="main-content" type="overlay" >
        <ion-content>            
            <ion-list id="inbox-list" >
                <ion-list-header>
                  <small>
                    {{personalData?.name}}
                  </small>
                </ion-list-header>
                <ion-note>
                  {{personalData?.title}}
                </ion-note>
                <ion-item >                    
                    <ion-label>
                      <p>
                        {{personalData?.phrase1}}
                      </p>
                      <p>
                        {{personalData?.phrase2}}
                      </p>
                    </ion-label>
                  </ion-item>                
                <app-menu-list [pages]="componentes"></app-menu-list>
            </ion-list>
        </ion-content>
    </ion-menu>
    