<ion-card mode="md">
    <h1>Presentation</h1>
    <ion-avatar>
        <img src="assets/img/avatar.png">
    </ion-avatar>
    <ion-card-header>
        <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
        <ion-card-title>Neri Alfonso Menchaca Castillo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        👋 Hi, I'm @Alfonso-13 I am a developer since 2014 I started with vb.net and c #, In 2018 I was given the opportunity to be a project leader, I was in charge of 6 development teams to release a new product for a banking company in the insurance division. As of 2019 I became a Full Stack Developer, I dedicated myself to learning more languages because the projects they were in required them and I needed to keep updating myself. I am currently a Full Stack Developer
        👀 I'm interested in get a better job and keep learning new languages and constantly update myself
        I'm currently learning .net core and ionic to create PWA apps        
    </ion-card-content>
</ion-card>